.product-container {
  width: 300px;
}
.product-poster {
  width: 350px;
  height: 400px;
}
.product-spec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product-summary {
  margin-top: 0px;
  text-align: justify;
}
.priceStyle {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
